.tachado {
	text-decoration: line-through;
	color: #a2a2a2;
}
#add {
	box-shadow: inset 0px 10px 20px 1px #072907;
	background: #008000;
	font-family: serif;
}
#delete {
	box-shadow: inset 0px 10px 20px 1px #290707;
	background: #d30000;
	font-family: serif;
}
#clear {
	box-shadow: inset 0px 10px 20px 1px #0a1be8;
	background: rgb(0, 12, 46);
	font-family: serif;
}
body {
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
#todotext {
	width: 150%;
	border: 1px solid;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px rgba(14, 23, 77, 0.58);
	border: none;
	background: rgba(255, 255, 255, 0.21);
	background: linear-gradient(rgba(245, 249, 255, 0.59), rgba(112, 112, 116, 0.21));
}
#todos {
	padding: 10px 10px 10px 60px;
	border: none;
	background: rgba(255, 255, 255, 0.21);
	background: linear-gradient(rgba(245, 249, 255, 0.59), rgba(112, 112, 116, 0.21));
	/* Standard syntax */
	box-shadow: 0px 0px 10px 3px rgba(14, 23, 77, 0.58);
}
.list {
	padding: 5px;
	margin-left: 1px;
	/*	box-shadow: inset 1px 1px 5px 1px rgba(10, 107, 190, 0.2), 10px 10px 20px rgba(10, 107, 190, 0.2);*/
	box-shadow: 0px 0px 1px 1px rgb(3, 158, 255);
	*/ width: 100%;
	border: 1px solid;
	border-radius: 5px;
}
#add {
	margin-right: 10px;
	margin-left: 180px;
}
#finish {
	margin-right: 20px;
	margin-left: 280px;
}
.textfoot {
	font-family: serif;
}
#maintable {
	border-collapse: separate;
	border-spacing: 1px 1px;
}
#tablefoot {
	border-collapse: separate;
	border-spacing: 9px 1px;
}
/*
#btn{
	border-collapse: separate;
	border-spacing:9px 1px;
}
*/

.check {
	padding-right: 20px;
	margin: 10px;
}
ul {
	width: 62%
}